.information {
    margin-left: 10%;
    font-size: 40px;
}
.avatar {
    margin-left: 10%;
    width: 250px;
    height: 340px;
}
.certificate {
    margin-left: 10%;
    margin-right: 10%;
    height: 680px;
}
