{% extends "base.html" %}
{% block head%} 
    <link rel="stylesheet" href="../static/css/about.css">
{% endblock %}
{% block main %}
    <div class = "avatar">
        <img src="../static/img/avatar.png" alt=".avatar" height=100% width=100%>
    </div>
    <div class = "information">
        <pre>Name   : Thân Ánh Thiện</pre>
        <pre>Country: Vietnam</pre>
        <pre>Contact: shuneo004@gmail.com</pre>
        <pre>Number : 0389504743</pre>
    </div>
    <hr style="margin-left: 10%; border: 1px solid #000; width: 100%; margin: 20px 0;">
    <div class = "certificate">
        <p style="text-transform: uppercase; font-size: 60px;"><strong>certificate</strong></p>
        <img src="../static/img/certificate.png" alt=".certificate" height=100% width=100%>
    </div>
{% endblock %}