<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuneo's Blog</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

</head> 
<body> 
    <div class = "navbar"> 
        <div class = "inner-navbar"> 
            Home  
        </div> 
        <div class = "inner-navbar">      
            About    
        </div>

        <div class = "end-navbar"> 
            <img class = "icon" atl = "Facebook icon" src = ../static/img/facebook-icon.png style="width: 22px; height: 22px; object-fit: cover;">
            <img class = "icon" atl = "Facebook icon" src = ../static/img/youtube-icon.png style="width: 22px; height: 22px; object-fit: cover;">
        </div> 
    </div>  
    {% block main %}

    {% endblock %}
</body>
</html> 